[submodule "Extern/mimalloc"]
	path = Extern/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "SakuraEngine/Tools/SPIRV-Cross"]
	path = SakuraEngine/Tools/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Extern/crossguid"]
	path = Extern/crossguid
	url = https://github.com/graeme-hill/crossguid.git
